<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="86.0.24" targetFramework="net452" />
  <package id="cef.redist.x86" version="86.0.24" targetFramework="net452" />
  <package id="cef.sdk" version="86.0.24" targetFramework="net452" />
  <package id="CefSharp.Common" version="86.0.241" targetFramework="net452" />
  <package id="CefSharp.OffScreen" version="86.0.241" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="86.0.241" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="86.0.241" targetFramework="net452" />
  <package id="Chromium.ChromeDriver" version="2.37" targetFramework="net452" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net452" />
</packages>